<h2 class="govuk-heading-m">Previous answers</h2>

<p class="govuk-body">
  <a class="govuk-link govuk-link--no-visited-state" href="/">Start again</a>
</p>

{{ govukTable({
  firstCellIsHeader: false,
  head: [
    {
      text: "Question"
    },
    {
      text: "Answer"
    },
    {
      text: "Change answer"
    }
  ],
  rows: [
    [
      {
        text: "Where is your business based?"
      },
      {
        text: data.answers['business-location'] | getAnswerAsString('business-location')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=business-location">Change <span class="govuk-visually-hidden">where your business is based</span></a>'
      }
    ] if data.answers['business-location'] | length,
    [
      {
        text: "What size was your business as of 28 February?"
      },
      {
        text: data.answers['business-size'] | getAnswerAsString('business-size')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=business-size">Change <span class="govuk-visually-hidden">what size your business was as of 28 February</span></a>'
      }
    ] if data.answers['business-size'] | length,
    [
      {
        text: "What is your turnover per year?"
      },
      {
        text: data.answers['annual-turnover'] | getAnswerAsString('annual-turnover')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=annual-turnover">Change <span class="govuk-visually-hidden">the value of your turnover per year</span></a>'
      }
    ] if data.answers['annual-turnover'] | length,
    [
      {
        text: "Are you an employer with a PAYE scheme?"
      },
      {
        text: data.answers['paye-scheme'] | getAnswerAsString('paye-scheme')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=paye-scheme">Change <span class="govuk-visually-hidden">whether your are an employer with a PAYE scheme</span></a>'
      }
    ] if data.answers['paye-scheme'] | length,
    [
      {
        text: "Are you self-employed?"
      },
      {
        text: data.answers['self-employed'] | getAnswerAsString('self-employed')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=self-employed">Change <span class="govuk-visually-hidden">whether you are self-employed</span></a>'
      }
    ] if data.answers['self-employed'] | length,
    [
      {
        text: "What is the rateable value of your business' non-domestic property?"
      },
      {
        text: data.answers['non-domestic-property'] | getAnswerAsString('non-domestic-property')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=non-domestic-property">Change <span class="govuk-visually-hidden">whether your business has a non-domestic property with a rateable value</span></a>'
      }
    ] if data.answers['non-domestic-property'] | length,
    [
      {
        text: "Is your business in any of the following sectors:"
      },
      {
        text: data.answers['business-sector'] | getAnswerAsString('business-sector')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=business-sector">Change <span class="govuk-visually-hidden">whether your business is in a sector</span></a>'
      }
    ] if data.answers['business-sector'] | length,
    [
      {
        text: "Is your business in receipt of small business rate relief or rural rate relief as of the 11 March 2020?"
      },
      {
        text: data.answers['rate-relief'] | getAnswerAsString('rate-relief')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=rate-relief">Change <span class="govuk-visually-hidden">whether your business is in receipt of small business rate relief or rural rate relief as of the 11 March 2020</span></a>'
      }
    ] if data.answers['rate-relief'] | length,
    [
      {
        text: "Are you due to pay a self-assessment payment on account by 31 July 2020?"
      },
      {
        text: data.answers['self-assessment-payment'] | getAnswerAsString('self-assessment-payment')
      },
      {
        html: '<a class="govuk-link no-visited-state" href="/change-answer?question=self-assessment-payment">Change <span class="govuk-visually-hidden">whether you are due to pay a self-assessment payment on account by 31 July 2020</span></a>'
      }
    ] if data.answers['self-assessment-payment'] | length
  ]
}) }}
