
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <p class="govuk-body">
      Coronavirus (COVID-19) support is available to businesses.
    </p>

    <p class="govuk-body">
      You can apply for loans, tax relief and cash grants.
    </p>

    <p class="govuk-body">
      Employers can apply for staff to get up to 80% pay if they can’t work.
    </p>

    <p class="govuk-body">
      Self-employed people can receive up to £2,500 per month in grants for at least 3 months.
    </p>

    <p class="govuk-body">
      You can work out what financial support option is available to you.
    </p>

    <p class="govuk-body">
      For detailed information about different types of business support schemes, <a class="govuk-link" href="https://www.gov.uk/coronavirus/business-support">check the coronavirus business support page.</a>
    </p>
    
    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}
    
  </div>
</div>

{% endblock %}
