
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    <p class="govuk-body">
      Coronavirus (COVID-19) support is available to employers and the self-employed. You may be eligible for loans, tax relief and cash grants.
    </p>

    <p class="govuk-body">
      Use this business support finder to see what support is available for you and your business.
    </p>
    
    {{ govukButton({
      text: "Start now",
      href: actions.start,
      isStartButton: true,
      classes: "govuk-!-margin-top-5"
    }) }}
    
    <!-- <p class="app-c-meta-data">
      Last updated: 18 April 2020
    </p> -->
    
  </div>
</div>

{% endblock %}
